# BLTouch 

[bltouch]
control_pin: P2.0 #ok
sensor_pin: P0.10 #ok
#pin_up_touch_mode_reports_triggered: True
x_offset: 38.2
y_offset: 0
z_offset: 4.315#4.2755#1.945 #2.497 # #1.92 SLICER NEEDS TO GO LOWER BY 0.005 HENCE 1.925 FIRST TRY
speed: 5
samples: 3
stow_on_each_sample: False
probe_with_touch_mode: True
# turn heaters off during downward probe motion
#heaters_off: True


#lift_speed: 10
#sample_retract_dist: 2
#   The distance (in mm) to lift the toolhead between each sample (if
#   sampling more than once). The default is 2mm.
#pin_move_time: 0.675
#   The amount of time (in seconds) to wait for the BLTouch pin to
#   move up or down. The default is 0.675 seconds.
#pin_up_touch_mode_reports_triggered: True
#   Set if the BLTouch consistently reports a "triggered" state after the #   commands "pin_up" followed by "touch_mode". This should be True for a genuine #   BLTouch; some BLTouch clones may require False. The default is True.
#pin_up_reports_not_triggered: True
#   Set if the BLTouch consistently reports the probe in a "not triggered"
#   state after a successful "pin_up" command. This should be True for a genuine 
#   BLTouch; some BLTouch clones may require False.  The default is True.
lift_speed: 20 #80.0
#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples. The default is to use the same value as the 'speed'
#   parameter.
samples: 3
#   The number of times to probe each point. The probed z-values will
#   be averaged. The default is to probe 1 time.
samples_result: median
#   The calculation method when sampling more than once - either
#   "median" or "average". The default is average.
samples_tolerance: 0.1
#   The maximum Z distance (in mm) that a sample may differ from other
#   samples. If this tolerance is exceeded then either an error is
#   reported or the attempt is restarted (see
#   samples_tolerance_retries). The default is 0.100mm.
samples_tolerance_retries: 5
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. On a retry, all current samples are discarded
#   and the probe attempt is restarted. If a valid set of samples are
#   not obtained in the given number of retries then an error is
#   reported. The default is zero which causes an error to be reported
#   on the first sample that exceeds samples_tolerance.
# set this to false if probe does not support it
#stow_on_each_sample: False
#   If set to False, intermediate STOW/DEPLOY sequences on certain
#   operations that use the probe multiple times will be omitted.
sample_retract_dist: 1.2
#   The distance (in mm) to lift the toolhead between each sample (if
#   sampling more than once). The default is 2mm.